/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Outline
# Info panel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# OUTLINE
--------------------------------------------------------------*/

.frame-by-frame
{
    position: fixed;
    z-index: 2147483647;

    display: none;

    box-sizing: border-box;

    pointer-events: none;

    border: 1px solid rgba(255,255,255,.2);
}

.frame-by-frame--visible
{
    display: block;
}


/*--------------------------------------------------------------
# INFO PANEL
--------------------------------------------------------------*/

.frame-by-frame__info-panel
{
    font: 400 16px monospace;

    position: absolute;
    top: 16px;
    left: 16px;

    width: 192px;
    padding: 16px;

    pointer-events: all;

    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
    background: rgba(0,0,0,.85);

    backdrop-filter: blur(8px);
}

.frame-by-frame__info-panel--collapsed
{
    visibility: hidden;

    backdrop-filter: none;
}

.frame-by-frame__info-panel > div
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.frame-by-frame__info-panel > div:not(:last-child)
{
    margin: 0 0 8px;
}

.frame-by-frame__info-panel > div > div:first-child
{
    text-transform: uppercase;

    color: rgba(255,255,255,.4);
}

.frame-by-frame__info-panel > div > div:last-child
{
    color: rgba(255,255,255,.8);
}

.frame-by-frame__frame
{
    padding-bottom: 8px;

    border-bottom: 1px solid rgba(255,255,255,.2);
}

.frame-by-frame__info-panel > .frame-by-frame__prev > div:first-child,
.frame-by-frame__info-panel > .frame-by-frame__next > div:first-child,
.frame-by-frame__info-panel > .frame-by-frame__hide > div:first-child
{
    font-size: 14px;
}

.frame-by-frame__info-panel > .frame-by-frame__prev > div:last-child,
.frame-by-frame__info-panel > .frame-by-frame__next > div:last-child,
.frame-by-frame__info-panel > .frame-by-frame__hide > div:last-child
{
    font-size: 14px;

    display: flex;

    box-sizing: border-box;
    width: 22px;
    height: 22px;

    color: #171717;
    border: 1px solid #a7a7a7;
    border-bottom-width: 3px;
    border-radius: 6px;
    background: #d2d2d2;

    align-items: center;
    justify-content: center;
}





.frame-by-frame__show-hide
{
    position: absolute;
    top: -8px;
    left: -8px;

    width: 16px;
    height: 16px;

    cursor: pointer;

    opacity: 0;
    border-radius: 50%;
    background: #e6e6e6;
    box-shadow: 0 0 1px 2px rgb(0,0,0,.1);
}



.frame-by-frame__info-panel--collapsed .frame-by-frame__show-hide
{
    visibility: visible;

    opacity: 1;
}

.frame-by-frame__info-panel--collapsed .frame-by-frame__show-hide > svg
{
    transform: rotate(180deg);
}


.frame-by-frame__drag-and-drop
{
    position: absolute;
    top: -8px;
    right: -8px;

    width: 16px;
    height: 16px;

    cursor: pointer;

    opacity: 0;
    border-radius: 50%;
    background: #e6e6e6;
    box-shadow: 0 0 1px 2px rgb(0,0,0,.1);
}





.frame-by-frame__info-panel:hover .frame-by-frame__show-hide,
.frame-by-frame__info-panel:hover .frame-by-frame__drag-and-drop
{
    opacity: 1;
}
