/*---------------------------------------------------------------
>>> SETTINGS
-----------------------------------------------------------------
# Fonts
# Body
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# FONTS
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Poppins';

    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 600;

    src: url(assets/fonts/Poppins-SemiBold.ttf);
}


/*---------------------------------------------------------------
# BODY
---------------------------------------------------------------*/

body
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
