/*--------------------------------------------------------------
>>> POPUP:
----------------------------------------------------------------
# Body
# Made with love
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

body {
    color: #565676;
    background: #0e0e1b;
    --satus-primary: #3d3d8f;
    --satus-hover: rgba(255, 255, 255, .03);
    --satus-header-background: #2a2a51;
    --satus-header-text: #9595b2;
    --satus-layers-background: #0e0e1b;
    --satus-layers-text: #565676;
    --satus-section-card-background: #1b1b2d;
    --satus-section-card-text: #9595b2;
    --satus-switch-background: rgba(255, 255, 255, .12);
    --satus-modal-background: #2a2a51;
    --satus-modal-text: #9595b2;
    --satus-pluviam-background: #fff;
}

.satus-header {
    font-size: 15px;
    font-weight: 600;
    justify-content: flex-start;
    box-shadow: 0 1px 0 #37376c;
    z-index: 1;
}

.satus-header .satus-button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 0 8px 0 -8px;
    padding: 8px;
    color: inherit;
    border-radius: 50%;
}

.satus-header .satus-button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .04);
}

.satus-header .satus-button>svg {
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.satus-switch--domain {
    width: calc(100% - 24px);
    height: 48px;
    margin: 12px auto 0;
    padding: 0 16px;
    transition: 150ms;
    color: #7d95a1;
    border: 1px solid #233843;
    border-radius: 8px;
    background-color: #1c2d36;
}

.satus-switch--domain[data-value='true'] .satus-switch__thumb {
    background-color: #375a6c;
}

.satus-switch--domain:focus,
.satus-switch--domain:hover {
    color: #899ea9;
    border-color: #2a4350;
    background-color: #233843;
}

.satus-alert {
    width: calc(100% - 24px);
    margin: 12px auto 0;
}

.satus-section--label {
    font-size: 14px;
    font-weight: 600;
}

.satus-section--card {
    border: 1px solid #222239;
}


/*--------------------------------------------------------------
# MADE WITH LOVE
--------------------------------------------------------------*/

.made-with-love {
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
    cursor: pointer;
    transition: 150ms;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    opacity: .4;
    color: #9595b2;
    justify-content: center;
}

.made-with-love:hover {
    opacity: 1;
}

.satus-base[data-hide-made-with-love=true] .made-with-love {
    display: none;
}

.made-with-love svg {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    fill: #d62121;
}

.satus.dark .made-with-love svg {
    fill: #704343;
}

.made-with-love span {
    margin: 0 0 0 4px;
}